{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    Upload User </h4>
            </div>
            <div class="card-body">


                <form class="navbar-form  pull-right" action="{% url 'upload_user' %}" method="post"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="myfile">
                    <button type="submit">Upload</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}