{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">RESOURCES</h4>

                <a class="btn btn-primary pull-right" href="/resources/store"> + ADD NEW RESOURCE </a>
                <a class="btn btn-primary pull-right" href="/resources/upload_resources">Upload Resources: (.xlsx)</a>
                <a class="btn btn-primary pull-right" href="/resources/download_resources">Download all</a>



                <div class="col-md-3 ">

                    <form class="navbar-form  " action="{% url 'search_products' %}">
                        <div class="input-group no-border">
                            {% csrf_token %}
                            <input type="text" value="" class="form-control" placeholder="Search..." name="search">
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </form>

                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Sl
                            </th>
                            <th>
                                Title </th>
                            <th>
                                Category </th>
                            <th>
                                Link </th>
                            <th>
                                Duration </th>
                            <th>Assign To User</th>
                            <th>View</th>

                            <th>Edit</th>
                            <th>Delete </th>
                        </thead>
                        <tbody>
                            {% for resource in resources %}

                            <tr>
                                <td>
                                    {{ forloop.counter }} </td>
                                <td>
                                    {{resource.title}}
                                </td>
                                <td>
                                    {{resource.category}}

                                </td>
                                <td>
                                    {{resource.link}}
                                </td>
                                <td>
                                    {{resource.duration}}
                                </td>
                                <td>
                                    <a class="dropdown-item-primary" href="/resources/assign/{{resource.id}}">Assign</a>
                                </td>

                                <td><a class="dropdown-item-primary"
                                        href="/resources/resourcesView/{{resource.id}}">View</a>
                                </td>
                                <td><a class="dropdown-item-primary" href="/resources/edit/{{resource.id}}">Edit</a>
                                </td>

                                <td><a class="dropdown-item text-danger" href="/resources/delete/{{resource.id}}"
                                        onclick="return confirm('Are you want to delete ?')">Delete</a> </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}